.popular-dishes {
    /* mt-6 pr-6 */
    margin-top: 1.5rem;
    padding-right: 1.5rem;
}

.popular-dishes-content {
    background-color: #1a1a1a;
    width: 100%;
    border-radius: 0.5rem;
    /* Corresponds to rounded-lg */
}

.popular-dishes-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* px-6 py-4 */
    padding: 10px 20px 10px 20px;
    /* Corresponds to px-6 py-4 */
}

.popular-dishes-header h1 {
    color: #f5f5f5;
    /* text-lg font-semibold tracking-wide */
    font-size: 1.125rem; /* Corresponds to text-lg */
    font-weight: 600; /* Corresponds to font-semibold */
    letter-spacing: 0.025em; /* Corresponds to tracking-wide */
}

.popular-dishes-header a {
    color: #025cca;
    /* text-sm font-semibold */
    font-size: 0.875rem; /* Corresponds to text-sm */
    font-weight: 600; /* Corresponds to font-semibold */
}

.popular-dishes-list {
    overflow-y: scroll;
    height: 700px;
    scrollbar-width: none;
}

.popular-dishes-item {
    display: flex;
    align-items: center;
    /* px-6 py-4 */
    padding: 10px 20px 10px 20px;
    /* Corresponds to px-6 py-4 */
    background-color: #1f1f1f;
    gap: 1rem;
    /* Corresponds to gap-4 */
    /* rounded-[15px]  mx-6*/
    border-radius: 0.5rem; /* Corresponds to rounded-[15px] */
    margin: 0 20px; /* Corresponds to mx-6 */
    cursor: pointer;
    margin-top: 10px;
}

.popular-dishes-item-image {
    width: 50px;
    height: 50px;
    /* rounded-full */
    border-radius: 50%;
}

.popular-dishes-item-name {
    color: #f5f5f5;
    /* text-lg font-semibold tracking-wide */
    font-weight: 600; /* Corresponds to font-semibold */
    letter-spacing: 0.025em; /* Corresponds to tracking-wide */
    /* Corresponds to text-lg */
    font-size: 1.125rem;
}

.popular-dishes-item-id {
    color: #f5f5f5;
    font-weight: 500;
    /* text-xl mr-5*/
    font-size: 1.25rem; /* Corresponds to text-xl */
    margin-right: 0.625rem; /* Corresponds to mr-5 */
}



